# config
.env
deploy-config.json
/node_moduels/

# Reporter build artifacts
reporter/vendor/
reporter/ohanami.phar
*.sample.json

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
terraform/terraform.tfvars*
.terraform/
